.accountSet-ul-nav{
	background-color: #EFEFEF!important;
	border-bottom: 1px solid #cccccc;
	display: block;
	padding-left: 350px;
}
.accountSet-ul-nav a{
	color:black!important;
}
.accountSet-form{
	width: 50%;
	min-width: 700px;
	height: 70%;
	min-height: 500px;
	margin-top: 150px;
}
.accountSet-form label{
	padding: 0;
	padding-top: 10px;
	width: 100px;

}
.accountSet-email-div{
	width: 600px;
	height: 150px;
	border: 1px solid #cccccc;
	border-radius: 10px;
}

.accountSet-email-div p{
	margin: 8px;
}
.accountSet-email-radio{
	width: 150px;
	margin-left: 40px;
}

#accountSet-password-login{
	/*display: none;*/
}

#accountSet-password-read{
	display: none;
}

#accountSet-app{
	display: none;
}
#accountSet-email{
	display: none;
}